<h1>Password reset instructions for <%= @user.username %></h1>
  <p>
    Your password reset code is 
        <% if Rails.env == 'production' %>
            <strong><%= @user.reset_password_token %></strong>
        <% elsif Rails.env == "development" %>
            <strong>
                <a href="https://<%=ENV["allowed_origin"]%>/reset-password/<%=@user.reset_password_token %>">
                    <%= @user.reset_password_token %>
                </a>
            </strong>
        <% end %>
        <br>
  </p>
<p>Thanks for joining and have a great day!</p>